* {
  font-family: 'Trebuchet MS', 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
}
body{
   background-image: url("../backgroundImages/blue.png");
  /* background-repeat: no-repeat; */
  background-size: cover;
}
main{
  background-image: url("../backgroundImages/bg-gold.jpg");
  /* background-repeat: no-repeat; */
  background-size: cover;
}

.slide-near{
  background-image: url("../backgroundImages/bg-gold.jpg");
  /* background-repeat: no-repeat; */
  background-size: cover;   
  height: 100px;
}

.container{
    color: white;
}
.slider{
    height: auto;
}