* {
  font-family: 'Trebuchet MS', 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
}

body {
  background-image: url("../backgroundImages/blue.png");
  background-size: cover;
}

#title {
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 30px;
}

h1.card-title, .fitpass {
  color: white;
  padding-bottom: 10px;
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
}

.fit-pass-section {
  background-image: url("../backgroundImages/pink.png");
  background-size: cover;
}

.fit-pass-section .card {
  background-color: transparent !important;
  border: none;
  border-radius: 40px;
}

.fit-pass-section .card img {
  border-radius: 20px;
}

header {
  position: sticky;
  top: 0;
  z-index: 1020;
  background-color: #0b0c0d;
}

li.nav-item {
  color: white;
}

.navbar .nl {
  color: white;
  font-size: 2rem;
}

.navbar .nl:hover {
  background: linear-gradient(to right, rgb(39, 46, 49), rgb(18, 176, 204), rgb(199, 35, 103));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card-body {
  text-align: center;
  background: linear-gradient(to right, rgb(180, 150, 150), rgb(132, 11, 193), rgb(7, 168, 193), rgb(184, 22, 22), rgb(255, 255, 255));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fpc {
  background-color: #0b0c0d;
  border: none;
}

.card {
  transition: transform 0.7s ease-in-out;
  border-radius: 5px;
}

.card:hover {
  transform: scale(1.05);
  z-index: 10;
  box-shadow: 5px 5px 5px rgba(0, 191, 255, 0.5) !important;
}

footer {
  background-color: #111213;
}

.footer-bottom {
  text-align: center;
  color: whitesmoke;
}

footer a {
  text-decoration: none;
  color: white;
}

.container.fp-back {
  background-image: url("../backgroundImages/pink.png");
  background-size: cover;
}

img {
  transition: transform 0.7s ease-in-out;
}

.ia img:hover {
  transform: scale(1.05);
  z-index: 10;
}
