* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  background-image: url("/backgroundImages/blue.png");
  /* background-repeat: no-repeat; */
  background-size: cover;
}


#title {
  text-align: center;
  font-weight: bold;
  /* background-color: ; */
  font-size: 1.5rem;
  color: white;
  font-size: 50px;
  /* background: linear-gradient(to right,rgb(17, 13, 21),rgb(18,176,204),rgb(232, 7, 217));
  background-clip:text;
  -webkit-text-fill-color: transparent; */

}



h1.card-title,.fitpass {
  color: white;
  padding-bottom: 10px;
  font-size: 100px;
  text-align: center;
}




.fit-pass-section .card {
  background-color: transparent !important;
  border: none;
  /* box-shadow: 5px 5px 5px rgb(240, 3, 216); */
  border-radius: 40px;
  
}

.fit-pass-section{
  background-image: url("/backgroundImages/pink.png");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: aliceblue; */
}
.fit-pass-section .card img{
  border-radius: 20px;
}



/* This style used to become navbar sticky and its background color dark */

header{
  position: sticky;
  top:0;             /* sticks at the top */
  z-index: 1020;      /* makes sure it stays above other content */
  background-color:  #0b0c0d;
}
/* This will be used to given white color to our navbar */
li.nav-item{
  color: white;
}


.navbar .nl{
  color: white;
  font-size: 2rem;
 
}

.navbar .nl:hover{
  background: linear-gradient(to right,rgb(39, 46, 49),rgb(18,176,204),rgb(199,35,103));
  background-clip:text;
  -webkit-text-fill-color: transparent;

}
    


.card-body{
  text-align: center;
  background: linear-gradient(to right,rgb(180, 150, 150),rgb(132, 11, 193),rgb(7, 168, 193),rgb(184, 22, 22),rgb(255, 255, 255));
  background-clip:text;
  -webkit-text-fill-color: transparent; 
}

.fpc{
  /* background-image: url("/backgroundImages/blue.png");
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: #0b0c0d;
  /* border-radius: 20px; */
  border: none;
}

.card {
  transition: transform 0.7s ease-in-out;
}

.card:hover {
  transform: scale(1.15);
  z-index: 10;
}

footer{
  background-color: #111213;
}

.footer-bottom{
  text-align: center;
  color: whitesmoke;
}

footer a{
  text-decoration: none;
  color: white;
  
}


/* Image Overlap */

.image-container {
    position: relative;   /* makes this the reference for absolute positioning */
    display: inline-block;
}

.bg-image {
    width: 100%;
    height: auto;
    display: block;
}

.overlay-image {
    position: absolute;
    bottom: 10px;   /* distance from bottom */
    left: 10px;     /* distance from left */
    width: 120px;   /* size of overlay image */
    height: auto;
}


.fp-text li,h3{
  color: white;
  padding-top: 5px;
}
































/* <h1 class="card-title">One membership for all your fitness needs</h1>
                    <div class="row g-4">
                        <div class="col-md-3">
                            <div class="card">
                                <img src="Images/card1.jpg" class="card-img-top"
                                    alt="Service 1">
                                <div class="card-body">
                                    <p class="card-text">Aerial photography &
                                        videography Agriculture (crop
                                        monitoring, spraying)</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                                <img src="Images/card2.jpg" class="card-img-top"
                                    alt="Service 2">
                                <div class="card-body">
                                    <p class="card-text">A drone bee is the male
                                        bee in a colony. Main role: mate with
                                        the queen.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                                <img src="Images/card3.jpg" class="card-img-top"
                                    alt="Service 3">
                                <div class="card-body">
                                    <p class="card-text">They don’t collect
                                        nectar or pollen. Lorem ipsum dolor sit
                                        amet.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                                <img src="Images/card4.jpg" class="card-img-top"
                                    alt="Service 4">
                                <div class="card-body">
                                    <p class="card-text">A drone is a sustained
                                        continuous sound or note.</p>
                                </div>
                            </div>
                        </div>
                    </div> */